apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 3
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
      - image: pkg.harness.io/eerjnxtns4grlg5vnnjzuw/guestbook/ks-guestbook-demo:0.1
        name: guestbook-ui
        ports:
        - containerPort: 80
